.nav-principal{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    a {
        color: $blanco;
        font-size: 2rem;
        text-transform: uppercase;

        &:hover{
            color: $secundario;
        }
        &.activo {
            color: $secundario;
        }
    }
}